/* Common UI */
.app-select {
	width:200px;
	height:30px;
	border:1px solid rgba(0, 50, 200, .4);
}
.app-button-primary {
	width:100px;
	height:30px;
	margin:10px 0;
	border-radius:5px;
	background-color:#007bff;
	border-color:#007bff;
	color:white;
}
.app-button-danger {
	width:100px;
	height:30px;
	margin:0px 10px;
	border-radius:5px;
	background-color:#dc3545;
	border-color:#dc3545;
	color:white;
}
.app-button-success {
	width:100px;
	height:30px;
	margin:10px 0;
	border-radius:5px;
	background-color:#198754;
	border-color:#198754;
	color:white;
}
.app-button-primary:disabled {
	background-color: rgba(0, 100, 255, .4);
	border-color:rgba(0, 100, 255, .2);
}
.app-button-success:disabled {
	background-color:rgba(100, 255, 0, .6);
	border-color:rgba(0, 255, 100, .2);
}
.app-text-input {
	width:200px;
	height:30px;
	border:1px solid rgba(50, 100, 250, .6);
	border-radius:5px;
}
.app-textarea {
	width:400px;
	height:150px;
	border:1px solid rgba(50, 100, 250, .6);
	border-radius:5px;
}
.app-h6-without-margin {
	margin:0px 10px;
}
.app-h4-without-margin {
	margin:10px 10px;
}
.app-small-small {
	font-size:10px;
	color: rgba(100, 100, 100, .9);
}

/* Web UI */
.App {
	display:flex;
	margin-top:30px;
}
.app-left {
	width:45%;
	border:1px solid black;
	margin-right:1%;
	margin-left:4%;
	padding:10px;
	height:auto;
	overflow:scroll;
	background-color:rgba(100, 100, 100, .1);
}
.app-left-command-title {
	border:1px solid black;
	border-radius:5px;
	width:90%;
	margin-left:3%;
	margin-right:5%;
	padding:10px;
	background-color:white;
}
.app-left-command-download-button {
	width:90%;
	margin-left:5%;
	margin-bottom:10px;
}
.app-left-command-element {
	border:1px solid black;
	border-radius:5px;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10px;
	padding:10px;
	background-color:white;
	word-wrap: break-word
}
.focused-app-left-command-element {
	border:2px solid rgba(50, 50, 200, .6) !important;
	background-color:rgba(50, 50, 200, .1);
}
.app-left-command-detail-area {

}
.app-left-command-detail-area-small {
	border:1px solid black;
	padding:10px;
	width:80%;
	margin-left:5%;
	background-color:white;
	margin-bottom:20px;
}
.app-left-command-detail-area-small-down-arrow {
	width:0;
	height:0;
	margin-left:43%;
	margin-bottom:10px;
	border-left:  15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid black;
}
.app-left-command-down-arrow {
	width:0;
	height:0;
	margin-left:47%;
	margin-bottom:10px;
	border-left:  15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid black;
}
.app-right {
	width:45%;
	border:1px solid black;
	margin-left:1%;
	margin-right:4%;
	padding:10px;
	height:auto;
}
.app-json {
	width:90%;
	height:150px;
	padding:5px;
	overflow:scroll;
	border:1px solid rgba(0, 50, 200, .8);
}
.app-file-image {
	width:200px;
	height:150px;
	border:1px solid rgba(0, 50, 200, .4);
}
.app-file-image-text {
	width:200px;
	height:150px;
	border:1px solid rgba(0, 50, 200, .4);
}

